hidex_client/Connected Services/HidexAutomation/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://AurentiaSolutions/HidexSenseAutomation" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HidexSenseAutomationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IHidexSenseAutomationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="3600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://AurentiaSolutions/HidexSenseAutomation" location="" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_IHidexSenseAutomationService" type="i0:IHidexSenseAutomationService">
    <wsp:PolicyReference URI="#CustomBinding_IHidexSenseAutomationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="CanRunAssay">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/CanRunAssay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanRunAssayWithSampleData">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/CanRunAssayWithSampleData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosePlateCarrier">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/ClosePlateCarrier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssays">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/GetAssays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoExportPath">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/GetAutoExportPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInterfaceVersion">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/GetInterfaceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/GetState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenPlateCarrier">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/OpenPlateCarrier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAutoExportPath">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/SetAutoExportPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAssay">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/StartAssay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAssayWithMetadata">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/StartAssayWithMetadata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAssayWithSampleData">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/StartAssayWithSampleData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopAssay">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/StopAssay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnStateChanged">
      <soap12:operation soapAction="http://AurentiaSolutions/HidexSenseAutomation/IHidexSenseAutomationService/OnStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HidexSenseAutomationService">
    <wsdl:port name="CustomBinding_IHidexSenseAutomationService" binding="tns:CustomBinding_IHidexSenseAutomationService">
      <soap12:address location="net.pipe://localhost/HidexSenseAutomation/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/HidexSenseAutomation/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>